.download_app {
  background-color: #f36b7f;
  display: flex;
  padding: 3vh 6vw;
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.left{
    width: 28vw;
    text-align: left;
    color: white;

}
.left_head {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 47px;
  padding-left: 1vw;
}
.left_subhead{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    width: 20vw;
    padding: 2vh 1vw;
}
.googleplay{
    width: 13vw;
}
@media only screen and (max-width: 768px){
  .download_app {
    flex-direction: column;
  }
  .left_head {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 47px;
    padding-left: 1vw;
  }
}